{% extends "layout.html" %}
{% block body %}
 {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Фамилия:
        <dd><input type=text size=30 name=surname>
		<dt>Имя:
        <dd><input type=text size=30 name=name>
		<dt>Отчество:
        <dd><input type=text size=30 name=patronymic>
		<dt>Компания:
        <dd><input type=text size=30 name=company>
		<dt>Должность:
        <dd><input type=text size=30 name=post>
        <dt>Табельный номер:
        <dd><input type=text size=30 name=number>
		<dt>Статус:
        <dd><input type=text size=30 name=status>
        <dd><input type=submit value=Записать>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  <table>
	<colgroup>
		<col id="f" />
			<col id="i" />
			<col id="o" />
			<col id="c" />
			<col id="t" />
			<col id="s" />
			<col id="id" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">Фамилия</th>
				<th scope="col">Имя</th>
				<th scope="col">Отчество</th>
				<th scope="col">Компания</th>
				<th scope="col">Должность</th>
				<th scope="col">Табельный</th>
				<th scope="col">Статус</th>
		</tr>
	</thead>
	<tbody>
  {% for entry in intruders %}
	<tr>
	<td>{{ intruders.surname }}</td>
	<td>{{ intruders.name }}</td>
	<td>{{ intruders.patronymic }}</td>
	<td>{{ intruders.company }}</td>
	<td>{{ intruders.post }}</td>
	<td>{{ intruders.number }}</td>
    <td>{{ intruders.status }}</td>
	</tr>
  {% endfor %}
	</tbody>
  </table>
  </ul>
{% endblock %}